{% load url from future %}
{% if user.is_authenticated %}
<div id="feedback_widget">
	<div id="feedback_tab" class="feedback_toggle">
		<button type="button">Feedback</button>
	</div>
	<div class="feedback_toggle" id="feedback_panel">
		<p>Please provide feedback about this page:</p>
		<form id="feedback_form" method="post" action="{% url "feedback" %}">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" id="feedback_submit" value="Submit" />
			<button type="button">Close</button>
		</form>
	</div>
</div>
{%endif%}
